/* timeline */

::selection {
    color: #fff;
    background: #ff0f0f;
}

.wrapper {
    margin: 0px auto;
    padding: 0 14px;
    position: relative;
}

.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #343434; /* cor da linha */
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row {
    display: flex;
}

.wrapper .row-1 {
    justify-content: flex-start;
}

.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row section {
    background-color: black;
    border: 5px solid #343434; /* cor da borda retângulo*/
    color: white; /* cor da data */
    border-radius: 15px;
    width: calc(50% - 35px);
    padding: 20px;
    position: relative;
}

.wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: black;
    border: 5px solid #343434; /* cor da seta */
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: black;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white; /* cor do ícone */
    font-size: 17px;
    box-shadow: 0 0 0 4px #343434, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05); /* cor do circulo do ícone*/
}

.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title {
    font-size: 22px;
    font-weight: 500;
    color: white; /* cor do título */
}

.row section p {
    margin: 10px 0 17px 0;
    color: white; /* cor da descrição */
}

.row section .bottom a {
    text-decoration: none;
    background-color: black;
    color: white; /* cor do texto do botão */
    border: 1px solid white; /* cor da borda do botão */
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    background-color: white; /* passando o mouse, borda do botão */
    color: black; /* passando o mouse, fundo do botão */
    transform: scale(0.97);
}

@media (max-width: 790px) {
    .wrapper .center-line {
        left: 40px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media (max-width: 440px) {
    .wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}
/* timeline /*/

/* 3d */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#container3D {
    width: 1200px;
    height: 544px;
    position: relative;
}
/* 3d /*/

/* navbar */

.flex {
    display: flex;
    gap: var(--gap, 2rem);
    justify-content: end;
}

.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: center;
    position: relative;
}

.primary-header::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25); /* cor da linha */
    transform: translateY(-50%);
    z-index: -1;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 0% / 0.5);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.2);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

@media (max-width: 48em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 40%;

        flex-direction: column;
        padding: min(30vh, 10rem) 3em;

        transform: translateX(100%);
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        background: url(/public/img/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(/public/img/x.png);
    }
    
}

@media (min-width: 00em) and (max-width: 55em) {
    .primary-navigation a > [aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) { /* ajeitar tamanho barra*/
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 2rem);
        padding-block: 0.8rem;
        padding-inline: clamp(1rem, 10vw, 6.6rem); /*1 é a largura - 8(1rem, 10vw, 6.2rem)*/
    }
}

/* navbar /*/

/* geral */
body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-weight: lighter;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

img {
    max-width: 100%;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: lighter;
}

h2 {
    font-size: 40px;
    color: white;
    font-weight: lighter;
}

h3 {
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

p {
    font-size: 15px;
}
/* geral /*/

/* específico */
.tela-maxima {
    max-width: 1200px;
    margin: 0px auto;
}

.tamanho-fonte-data-timeline {
    font-size: 15px;
}

.paddint-top-tela-inicial {
    padding-top: 350px;
}

.p-hiragana {
    font-size: 48px;
    padding-top: 267px;
    text-align: end;
}

.alinhamento-texto-direita {
    text-align: end;
}

.fundo-minha-trajetoria {
    min-height: 1800px;
}

.navbar-cor-fonte {
    color: white;
    text-decoration: none;
}

.fundo-padrao-teste {
    min-height: 500px;
}

.foto-sobre-mim-flex {
    display: flex;
    justify-content: end;
}

.cor-fonte-vermelha {
    color: #ff0f0f;
    font-weight: bold;
}

.arredondar-borda-svg {
    border-radius: 15px;
}

.alinhar-texto-centro {
    text-align: center;
}

.margin-top-bottom-work-exp {
    margin-top: 120px;
    margin-bottom: 30px;
}

.margin-top-bottom-acad-exp {
    margin-top: 50px;
    margin-bottom: 30px;
}

.align-items-teste {
    align-items: end;
}

.padding-top-tempo {
    padding-top: 4px;
}

/* específico /*/
